@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@plugin "daisyui";


@font-face {
    font-family: Cascadia Code;
    font-style: normal;
    font-weight: 200 500 600 700 800;
    font-display: swap;
    src: url("/fonts/CascadiaCode.woff2") format("woff2");
}

@theme {
    --default-font-family: "Cascadia Code", sans-serif;
}


.grid-layout {
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
}

@media(max-width:700px) {
    .grid-layout {
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    }
}

.leyend::before {
    display: inline-block;
    margin-right: 5px;
    content: '';
    width: 10px;
    height: 10px;
}

.leyend:first-child:before {
    @apply bg-success
}

.leyend:nth-child(2)::before {
    @apply bg-warning
}

.leyend:nth-child(3)::before {
    @apply bg-error
}

.github path {
    fill: currentColor;
}